---
layout: single
---



{{ content }}
<p>
I'm a budding data scientist based in Singapore.
</p>

<p>
I am currently working as a Senior Analyst at <a href = "https://datarama.com">Datarama</a>, a start-up that uses machine learning and artificial intelligence to streamline due diligence processes. I lead due diligence projects mainly in Indonesia – my country of birth – and also neighboring Southeast Asian countries. In addition, I also contribute to the development of Datarama's AI-powered due diligence platform. Find more about me <a href = "https://meraldoantonio.github.io/about/">here</a>.
</p>

<p>
Below are the most recent posts I've written. A complete list of blogs can be found <a href = "https://meraldoantonio.github.io/blogposts/">here</a>.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
