---
layout: single
---



{{ content }}
<p>
Hello, thanks for stopping by! I'm Meraldo. I'm a data scientist and writer based in Singapore. I am passionate about languages, NLP and Big Data.
</p>

<p>
I'm currently working as an AI Apprentice at <a href="https://www.aisingapore.org/"> AI Singapore </a>, where I am building a chatbot that can respond to human questions and pinpoint a specific information within a document. This model is powered by an NLP model called <a href="https://towardsdatascience.com/modeling-and-output-layers-in-bidaf-an-illustrated-guide-with-minions-f2e101a10d83">BiDAF</a>.
</p>

<p>
Prior to joining AI Singapore, I worked as a Senior Analyst at <a href = "https://datarama.com">Datarama</a>, a start-up that uses AI to streamline due diligence processes. </p>

<p>
You can read more about my work and background <a href = "https://meraldoantonio.github.io/about/">here</a>.
</p>

<p>
This website serves as a repository of projects I've undertaken and my reflection on being a budding data scientist. Below are the most recent entries I posted;  you can find a complete list of entries <a href = "https://meraldoantonio.github.io/blogposts/">here</a>.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single2.html %}
{% endfor %}

{% include paginator.html %}
